<nb-layout>

  <nb-layout-header fixed>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline" title="Toggle Sidebar"></nb-icon>
    <h4>GTN Global Translation Management</h4>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" responsive start>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    Copyright © 2021 By Anthony Padgett and Carl Wyand&nbsp;<a href="http://www.ckwyand.com">ckywand.com</a>
  </nb-layout-footer>

</nb-layout>